#tickets-container {
    color:white;
    min-height: 80.7vh;
    text-align: center;
    align-items: center;
    padding: 20px;
}

#cart{
    text-decoration: underline;
    color:white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}